<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <title>Blogsite</title>
    <!-- 使用本地的样式与js文件 -->
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script type="text/javascript" src="{% static 'js/semantic.min.js'%}"></script>
  </head>
  <body>
    <div class="ui container">
        <p>使用本地的样式使用本地的样式使用本地的样式使用本地的样式</p>
    </div>
    <div class="ui divider"></div>
  <div class="ui text container">
       <p>使用本地的样式使用本地的样式使用本地的样式使用本地的样式</p>
  </div>
    <h1 class="ui header">H1</h1>
    <h2 class="ui header">H2</h2>
    <h3 class="ui header">H3</h3>
    <h4 class="ui header">H4</h4>
    <h5 class="ui header">H5</h5>

    <div class="ui sizer vertical segment">
      <div class="ui huge header">巨型标题</div>
      <p></p>
      <div class="ui large header">大型标题</div>
      <p></p>
      <div class="ui medium header">中型标题</div>
      <p></p>
      <div class="ui small header">小型标题</div>
      <p></p>
      <div class="ui tiny header">超小标题</div>
      <p></p>
    </div>

  <h2 class="ui icon header">
  <i class="settings icon"></i>
  <div class="content">账户设置 <div class="sub header">管理你的账户设置并设置邮箱</div>
  </div>
</h2>

<button class="ui primary button">Login</button>
  </body>
</html>